h1 Edit this post!
form(action='/gallery/#{id}' method='POST')
  input(type='hidden' name='_method' value='PUT')
  div
    label(for='author') Author
    input(type='text' name='author' value='#{author}' id='author')

  div
    label(for='image_url') URL
    input(type='text' name='image_url' value='#{image_url}' id='image_url')

  div
    label(for='link') Site
    input(type='text' name='link' value='#{link}' id='link')

  div
    label(for='description') Description
    input(type='text' name='description' value='#{description}' id='description')

  div.button
    button(type='submit') Send

form(action='/gallery/#{id}' method='POST')
  input(type='hidden' name='_method' value='DELETE')
  div.button
    button(type='submit') Delete